<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CoCoinAutomation">
  <test thread-count="5" name="Test">
    <classes>
	    <class name="test.AddExpenseTestTODAY"/>
	    <class name="test.AddExpenseTestTHISWEEK"/>
	    <class name="test.AddExpenseTestTHISMONTH"/>    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
